body {
  font-family: Helvetica;
}




.single-movie .movie-poster {
  background-size:cover;
  width:200px;
  height:250px;
  background-position: center;
}

.movie-list {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
}
